<a href="https://colab.research.google.com/github/mirpouya/Machine-Learning-Intro/blob/main/Machine_Learning_Intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
# using sample generator to explore ML

from sklearn.datasets import make_blobs

In [15]:
# lets generate some datasets
# 100 samples in 3 classes
X, y = make_blobs(n_samples=100, centers=3)

In [16]:
# shape of X and y

print(f" X shape is : {X.shape}\n y shape is : {y.shape}")

 X shape is : (100, 2)
 y shape is : (100,)

In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [18]:
# type of X, y
type(X)

numpy.ndarray

In [19]:
X[10]

array([-5.54464244,  9.54204789])

In [20]:
y[10]

1

In [21]:
np.unique(y)

array([0, 1, 2])

In [22]:
# real dataset

iris_data = sns.load_dataset("iris")
iris_data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [23]:
iris_data.shape

(150, 5)

In [24]:
iris_data.iloc[55:60,:]

    sepal_length  sepal_width  petal_length  petal_width     species
55           5.7          2.8           4.5          1.3  versicolor
56           6.3          3.3           4.7          1.6  versicolor
57           4.9          2.4           3.3          1.0  versicolor
58           6.6          2.9           4.6          1.3  versicolor
59           5.2          2.7           3.9          1.4  versicolor